MEDIA_TYPE = netboot image
 
# This is a hack until we can find some way of automatically
# passing devfs=mount when tftpboot'ing
USERDEVFS = t
  
TARGET = $(BOOT)
EXTRANAME = $(MEDIUM)/
 
MANIFEST-BOOT = "tftp boot image for sparc64"
 
.PHONY: arch_boot
arch_boot:
	gzip -c /boot/System.map-$(KERNELIMAGEVERSION) >$(TEMP)/System.map.gz
	tftpboot.sh $(TEMP_KERNEL) $(TEMP)/System.map.gz $(TEMP_INITRD) $(TEMP_BOOT)

 

