# How big a floppy image should I make? (in kilobytes)
FLOPPY_SIZE = 2880

MEDIA_TYPE = netboot image

TARGET = $(BOOT)

# FIXME: Temporary fix, these files should be in a udeb!
EXTRALIBS = /lib/libnss_dns* /lib/libresolv*

.PHONY: arch_boot
arch_boot:
	tftpboot.sh $(TEMP_KERNEL) /dev/null $(TEMP_INITRD) $(TEMP_BOOT)
