# A bootable image suitable for El Torito CD images.

# Library and font reduction need the dependencies of additional drivers.
EXTRADRIVERS = $(BASE_TMP)floppy/cd-drivers/tree $(BASE_TMP)floppy/net-drivers/tree
EXTRATARGETS = build_floppy_cd-drivers build_floppy_net-drivers
TARGET = $(BOOT)

MANIFEST-BOOT = "El Torito boot image for CD"
