KERNELVERSION = 2.4.22-xfs
KERNELIMAGEVERSION = $(KERNELVERSION)

# Library and font reduction need the dependencies of additional drivers.
EXTRADRIVERS = $(BASE_TMP)floppy/cd-drivers/tree $(BASE_TMP)floppy/net-drivers/tree
EXTRATARGETS = build_floppy_cd-drivers build_floppy_net-drivers
TARGET = $(INITRD) $(KERNEL) $(BOOT) $(DEBIAN_CD_INFO)

# HACK Alert: pkg-lists/ is still sorted by TYPE instead of a dir hierarchy.
TYPE=cdrom-xfs
