DISK_LABEL = "Speakup driver module floppy"

TARGET = $(EXTRA)
EXTRANAME = access/drivers

# No kernel.
KERNELNAME =

# HACK Alert: pkg-lists/ is still sorted by TYPE instead of a dir hierarchy.
TYPE=access_drivers
