DISK_LABEL = "CD-ROM drivers floppy"

TARGET = $(EXTRA)
EXTRANAME = $(FLAVOUR)

# No kernel.
KERNELNAME =

# HACK Alert: pkg-lists/ is still sorted by TYPE instead of a dir hierarchy.
TYPE=cd_drivers
