MEDIUM_SUPPORTED = cdrom

# The version of the kernel to use.
# FIXME:
# linux-kernel-di does not yet generate uniquely named kernel files.
#KERNELVERSION = 2.4.19-r3k-kn02 2.4.19-r4k-kn04
KERNELVERSION = 2.4.19-r4k-kn04
KERNEL_FLAVOUR = di
KERNELIMAGEVERSION = $(KERNELVERSION)
#KERNELNAME = $(foreach ver,$(KERNELVERSION),vmlinux-$(ver))
KERNELNAME = vmlinux

MEDIA_TYPE = CD-ROM

# No files in DEST.
TARGET = $(INITRD) $(KERNEL)
