MEDIUM_SUPPORTED = netboot

# The version of the kernel to use.
# FIXME:
# linux-kernel-di does not yet generate uniquely named kernel files.
KERNELVERSION = 2.4.19-r4k-kn04
KERNEL_FLAVOUR = di
#KERNELNAME = $(foreach ver,$(KERNELVERSION),vmlinux-$(ver))
KERNELNAME = vmlinux
KERNELIMAGEVERSION = $(KERNELVERSION)

MEDIA_TYPE = netboot image

TARGET = $(BOOT)

MANIFEST-BOOT = "tftp boot image for DECstations with R4x00 CPU"

# Create a bootable tftp image.
.PHONY: arch_boot
arch_boot:
	tftpboot.sh $(TEMP_KERNEL) /dev/null $(TEMP_INITRD) $(TEMP_BOOT)
