MEDIUM_SUPPORTED = cdrom nativehd

# The version of the kernel to use.
KERNELVERSION = 2.4.20
KERNEL_FLAVOUR = di
KERNELIMAGEVERSION = $(KERNELVERSION)-$(SUBARCH)
KERNELNAME = vmlinuz

TARGET = $(INITRD) $(KERNEL)
