MEDIUM_SUPPORTED = cdrom floppy nativehd

# The version of the kernel to use.
KERNELVERSION = 2.2.25
KERNEL_FLAVOUR = di
KERNELIMAGEVERSION = $(KERNELVERSION)-$(SUBARCH)
KERNELNAME = vmlinuz

TARGET = $(INITRD) $(KERNEL)
