# No kernel is included.
KERNELIMAGEVERSION = not-used
KERNEL_FLAVOUR = di

# No files in DEST.
TARGET = $(STAMPS)tree-demo-stamp

# HACK Alert: pkg-lists/ is still sorted by TYPE instead of a dir hierarchy.
TYPE = demo

USERDEVFS = t

