MEDIUM_SUPPORTED = cdrom netboot

# The version of the kernel to use.
KERNELVERSION = 2.2.25
# Still using the old -udeb.udebs for now
KERNEL_FLAVOUR = udeb
KERNELIMAGEVERSION = $(KERNELVERSION)-$(SUBARCH)
KERNELNAME = vmlinuz

USERDEVFS = t

TARGET = $(INITRD) $(KERNEL)
