MEDIUM_SUPPORTED = cdrom floppy netboot

# The version of the kernel to use.
KERNELVERSION = 2.4.24
KERNEL_FLAVOUR = di
KERNELIMAGEVERSION = $(KERNELVERSION)-$(SUBARCH)
KERNELNAME = vmlinuz

USERDEVFS = t

TARGET = $(INITRD) $(KERNEL)
