MEDIA_TYPE = CD-ROM

TARGET = $(BOOT)
EXTRANAME = $(MEDIUM)-

MANIFEST-BOOT = "CDROM image for SGI IP22 machines with R5000 CPU"

# Create a bootable image for the CD.
.PHONY: arch_boot
arch_boot:
	tftpboot.sh $(TEMP_KERNEL) /dev/null $(TEMP_INITRD) $(TEMP_BOOT)
