Source: build-installer
Section: devel
Priority: extra
Build-Depends: mklibs.sh, glibc-pic, apt, slang1-pic, syslinux [i386], sysutils [i386]
Maintainer: Joey Hess <joeyh@debian.org>
Build-Depends: debhelper
Standards-Version: 3.2.1.0
