Source: build-installer
Section: devel
Priority: extra
Build-Depends: apt, slang1-utf8-pic, syslinux [i386], sysutils [i386], dosfstools [i386], libdiscover1-pic [!s390 !s390x], libdiscover1 [!s390 !s390x], ncurses-base, genext2fs, mklibs, libdebconf1, libdebian-installer3, modutils, libc6-pic
Maintainer: Joey Hess <joeyh@debian.org>
Build-Depends: debhelper
Standards-Version: 3.2.1.0
