MEDIUM_SUPPORTED = cdrom netboot

# The version of the kernel to use.
KERNELIMAGEVERSION = 2.4.20-32 2.4.20-64
# Still using the old -udeb.udebs for now.
KERNEL_FLAVOUR = udeb
KERNELVERSION = $(foreach ver,$(KERNELIMAGEVERSION),$(ver)-udeb)
KERNELNAME = $(foreach ver,$(KERNELVERSION),vmlinux-$(ver))

# hppa boots a lifimage, which can contain an initrd and two kernels
# (one 32 and one 64 bit)
.PHONY: arch_boot
arch_boot:
	palo -f /dev/null $(foreach kern,$(TEMP_KERNEL),-k $(kern) ) \
		-r $(TEMP_INITRD) -s $(TEMP_BOOT) \
		-c "0/linux HOME=/ root=/dev/ram initrd=0/ramdisk ramdisk_size=8192 devfs=mount,dall"

arch_boot_screens:
