MEDIUM_SUPPORTED = cdrom netboot

# The version of the kernel to use.
KERNELVERSION = 2.4.22-itanium
KERNEL_FLAVOUR = di
KERNELNAME = vmlinuz
KERNELIMAGEVERSION = $(KERNELVERSION)

# The DOS volume id to use for DOS floppies. This is a 32 bit hexidecimal
# number.
DOS_VOLUME_ID = deb00001
# The DOS volume label to use for DOS floppies. This is a 11 character
# string.
DOS_VOLUME_LABEL = "Debian Inst"

# Copy files somewhere the CD build scripts can find them
# XXX Will only use the last kernel if there are several
cd_content: $(IMAGE)
	$(foreach NAME,$(KERNELNAME), \
		cp $(TEMP)/$(NAME) $(DEST)/$(TYPE)-linux; )
	cp  boot/ia64/elilo.conf $(DEST)/$(TYPE)-elilo.conf
	cp  cp /usr/lib/elilo/elilo.efi $(DEST)/$(TYPE)-elilo.efi

cd_image: cd_content
	mkisofs -r -J -no-emul-boot -boot-load-size 1 \
		-b `basename $(IMAGE)` -o $(TYPE).iso $(DEST)
	mv $(TYPE).iso $(DEST)
