SUBARCH_SUPPORTED = demo r4k-ip22 r5k-ip22

# FIXME: Temporary fix, these files should be in a udeb!
EXTRALIBS = /lib/libnss_dns* /lib/libresolv*

cd_content:
	mkdir -p $(CD_IMAGE_TREE)
	mkdir -p $(CD_IMAGE_TREE)/install/

	$(foreach NAME,$(KERNELNAME), \
		cp -f $(TEMP)/$(NAME) $(CD_IMAGE_TREE)/install/powermac/$(TYPE)-linux; )

	cp -f $(BASE_DEST)
	

cd_image: cd_content
	mkisofs -r -J -o $(BASE_DEST)cdrom.iso $(BASE_DEST)
	set -e; \
	ISOVH_BOOTFILES= \
	$(foreach SUB,$(SUBARCH), \
		start=$(shell isoinfo -i $(TYPE).iso -lsR |grep -A 10 'Directory listing of /install' |grep cdrom-$(SUB)-image.img |awk '{print $10}') \
		size=$(shell isoinfo -i $(TYPE).iso -lsR |grep -A 10 'Directory listing of /install' |grep cdrom-$(SUB)-image.img |awk '{print $5}') \
		ISOVH_BOOTFILES+="$(SUBARCH):$(start),$(size) ")
	genisovh $(TYPE).iso $(ISOVH_BOOTFILES)
	mv $(TYPE).iso $(DEST)
