SUBARCH_SUPPORTED = default r3k-kn02 r4k-kn04

# FIXME: Temporary fix, these files should be in a udeb!
EXTRALIBS = /lib/libnss_dns* /lib/libresolv*

# Copy files somewhere the CD build scripts can find them
# XXX Will only use the last kernel if there are several
cd_content: $(IMAGE)
	$(foreach NAME,$(KERNELNAME), \
		cp -f $(DEST)/$(NAME) $(DEST)/$(TYPE)-linux;)
	cp  boot/mips/delo.conf $(DEST)/delo.conf

cd_image: cd_content
	# This is borken. We have to install arcboot in an ext2 image.
#	mkisofs -r -J -b `basename $(IMAGE)` -o $(TYPE).iso $(DEST)
#	mv $(TYPE).iso $(DEST)
