SUBARCH_SUPPORTED = demo sparc32 sparc64 miniiso cdrom
 
VERSIONED_SYSTEM_MAP = t
 
BASEVERSION = 2.4.24
KERNELIMAGEVERSION = $(BASEVERSION)-sparc32 $(BASEVERSION)-sparc64
KERNEL_FLAVOUR = di
KERNELVERSION = $(foreach ver,${KERNELIMAGEVERSION},$(ver))
KERNELNAME = $(foreach ver,${KERNELVERSION},vmlinuz-$(ver))

# FIXME: Temporary fix, these files should be in a udeb!
EXTRALIBS = /lib/libnss_dns* /lib/libresolv*

arch_boot_screens:
