MEDIUM_SUPPORTED = cdrom netboot

# The version of the kernel to use.
KERNELIMAGEVERSION = 2.4.24-sparc32 2.4.24-sparc64
KERNEL_FLAVOUR = di
KERNELVERSION = $(foreach ver,${KERNELIMAGEVERSION},$(ver))
KERNELNAME = $(foreach ver,${KERNELVERSION},vmlinuz-$(ver))

USERDEVFS = t

INITRD_FS = romfs

# Copy files somewhere the CD build scripts can find them
cd_content:
	$(foreach img,$(KERNELNAME), \
		type=`echo $(img) |sed 's/vmlinuz-.*-\(sparc.*\)/\1/'`; \
		cp -f $(TEMP)/$(img) $(DEST)/$(TYPE)-linux-$$type;)

cd_image: cd_content
	mkisofs -r -J -b `basename $(FLOPPY_IMAGE)` -o $(TYPE).iso $(DEST)
	mv $(TYPE).iso $(DEST)
