MEDIA_TYPE = netboot image

TARGET = $(INITRD) $(KERNEL)
EXTRANAME = $(MEDIUM)/

# FIXME: Temporary fix, these files should be in a udeb!
EXTRALIBS = /lib/libnss_dns* /lib/libresolv*

MANIFEST-INITRD = "netboot initrd"
MANIFEST-KERNEL = "kernel image to netboot"
