FLAVOUR_SUPPORTED = default #xfs

# How big a floppy image should I make? (in kilobytes)
FLOPPY_SIZE = 2880

MEDIA_TYPE = CD-ROM

# Library and font reduction need the dependencies of additional drivers.
EXTRADRIVERS = $(BASE_TMP)floppy/cd-drivers/tree $(BASE_TMP)floppy/net-drivers/tree
EXTRATARGETS = build_floppy_cd-drivers build_floppy_net-drivers
TARGET = $(INITRD) $(KERNEL) $(BOOT)

# FIXME: Temporary fix, these files should be in a udeb!
EXTRALIBS = /lib/libnss_dns* /lib/libresolv*
