FLAVOUR_SUPPORTED = default #xfs

# How big a floppy image should I make? (in kilobytes)
FLOPPY_SIZE = 2880

MEDIA_TYPE = CD-ROM

# FIXME: Temporary fix, these files should be in a udeb!
EXTRALIBS = /lib/libnss_dns* /lib/libresolv*
