MEDIA_TYPE = netboot image

# How big a floppy image should I make? (in kilobytes)
# Needed for the MINIISO.
FLOPPY_SIZE = 2880

TARGET = $(INITRD) $(KERNEL) $(MINIISO)
EXTRANAME = $(MEDIUM)/

# FIXME: Temporary fix, these files should be in a udeb!
EXTRALIBS = /lib/libnss_dns* /lib/libresolv*
