# How big a floppy image should I make? (in kilobytes)
FLOPPY_SIZE = 2880

MEDIA_TYPE = CD-ROM

TARGET = $(BOOT)

.PHONY: arch_boot
arch_boot:
	tilo -o $(TEMP_BOOT) $(TEMP_KERNEL) $(TEMP_INITRD)

MANIFEST-BOOT = "CDROM image for all Sun Sparcstations"

