# This is completely meaningless, since the mini-ISO uses prebuilt
# boot images, but some Makefile magic depends on those definitions.
KERNELVERSION = 2.4.24-sparc32 2.4.24-sparc64
KERNEL_FLAVOUR = di
KERNELIMAGEVERSION = $(KERNELVERSION)
KERNELNAME =
 
MEDIA_TYPE = CD-ROM
 
# Hack, hack!
TARGET =
EXTRATARGETS = build_sparc32_netboot build_sparc64_netboot $(MINIISO)
EXTRANAME = cdrom-
 
MANIFEST-MINIISO = "tiny bootable CD image for pure network install"
 
.PHONY: arch_miniiso
arch_miniiso:
	-rm -rf $(TEMP_CD_TREE)/*
	install -m 644 -D $(BASE_TMP)sparc32/netboot/boot-sparc32.img $(TEMP_CD_TREE)/install/sparc32-boot.img
	install -m 644 -D $(BASE_TMP)sparc64/netboot/boot-sparc64.img $(TEMP_CD_TREE)/install/sparc64-boot.img
	mkisofs -r -J -o $(TEMP_MINIISO) $(TEMP_CD_TREE)
 
arch_boot_screens:

