MEDIUM_SUPPORTED = netboot
 
# The version of the kernel to use.
KERNELIMAGEVERSION = 2.4.24-sparc32
KERNEL_FLAVOUR = di
KERNELVERSION = $(foreach ver,${KERNELIMAGEVERSION},$(ver))
KERNELNAME = $(foreach ver,${KERNELVERSION},vmlinuz-$(ver))
 
TEMP_BOOT = $(TEMP)/boot-sparc32.img
 

