Source: build-installer
Section: devel
Priority: extra
Build-Depends: apt, bc, slang1-utf8-pic, libnewt-pic, syslinux (>= 2.04-1) [i386], sysutils [i386], dosfstools [i386], libdiscover1-pic [!s390 !s390x !mips !mipsel], libdiscover1 [!s390 !s390x !mips !mipsel], ncurses-base, genext2fs, mklibs (>= 0.1.11), libdebconfclient0, libdebian-installer3, modutils, glibc-pic, mtools [i386], bf-utf-source, upx-ucl-beta [i386], libbogl-dev, sed (>= 4.0.7-1), libtextwrap1, debhelper, tip22 [mips]
Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: Sebastian Ley <ley@debian.org>, Joey Hess <joeyh@debian.org>, Alastair McKinstry <mckinstry@computer.org>
Standards-Version: 3.6.0

Package: debian-installer-cdrom
Architecture: i386 alpha powerpc
Description: Debian Installer cdrom boot-images
 This package contains the boot-images for debian-installer on a cdrom.
 Note that you need debian-cd to create working iso images.

Package: debian-installer-floppy
Architecture: i386
Description: Debian Installer floppy images
 This package contains the boot-images for debian-installer on a floppy.
 It also contains additional drivers disks for special hardware. Note
 that you also need the bootfloppy image on i386 to do a floppy install.

Package: debian-installer-bootfloppy
Architecture: i386
Description: Debian Installer bootfloppy image
 This package contains the bootfloppy image of debian installer. The
 bootfloppy is the first floppy you need for a floppy install. It
 will prompt for more floppies which can be found in the
 debian-installer-floppy package.

Package: debian-installer-netboot
Architecture: i386 alpha powerpc
Description: Debian Installer netboot image
  This package contains the netboot image of debian-installer. The
  netboot image is supposed to be loaded over the network, e.g.
  via pxe boot.
