#! /usr/bin/make -f

ARCH=$(shell dpkg-architecture -qDEB_BUILD_ARCH)
VERSION=$(shell LC_ALL=C dpkg-parsechangelog | grep ^Version: | sed 's/^Version: *//')
TYPES=$(shell dh_listpackages -s | sed s/debian-installer-//)
UPLOADED_TO=$(shell LC_ALL=C dpkg-parsechangelog | grep ^Distribution: | sed 's/^Distribution: *//')

include config/main
include config/dir

clean:
	dh_testdir
	dh_testroot
	make reallyclean
	dh_clean

build:
	for TYPE in $(TYPES) ; do \
		$(MAKE) SUITE=$(UPLOADED_TO) DEST=dest/$$TYPE TYPE=$$TYPE image ; \
	done 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k -s
	dh_installdirs
	for TYPE in $(TYPES) ; do \
		mkdir -p debian/debian-installer-$$TYPE/usr/lib/debian-installer-$$TYPE/$(ARCH); \
		cp -a dest/$$TYPE/* debian/debian-installer-$$TYPE/usr/lib/debian-installer-$$TYPE/$(ARCH) ; \
	done

binary-indep:

binary-arch: install  
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs -s
	dh_compress -s
	dh_gencontrol -s
	dh_builddeb -s

binary: binary-indep binary-arch 
.PHONY: build clean binary-indep binary-arch binary install 
