MEDIUM_SUPPORTED = cdrom netboot

# The version of the kernel to use.
# FIXME:
# linux-kernel-di does not yet generate uniquely named kernel files.
KERNELVERSION = 2.4.22-r4k-ip22
KERNEL_FLAVOUR = di
KERNELIMAGEVERSION = $(KERNELVERSION)
#KERNELNAME = $(foreach ver,$(KERNELVERSION),vmlinux-$(ver))
KERNELNAME = vmlinux
